input[type="text"], textarea, select { 
  outline: none;
}

.table{
  border-radius: 16px;
}
.card{
  height: 900px;
}
table {
  border-collapse: collapse;
  border-radius: 16px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card{
    height: 0px;
  }
}
@media (min-width: 1280px) {
  .card{
    height: calc(100vh - 131px);
  }
}



