input[type="text"], textarea, select { 
  outline: none;
}
.card{
  height: calc(100vh - 131px);
}
.table{
  border-radius: 40px;
}
table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card{
    height: 0px;
  }
}




