<form class="w-full flex flex-col items-start mt-5">
  <label class="w-9/12 font-bold mb-3 text-xl">Name</label>
  <input
    type="text"
    placeholder="Name"
    class="input input-bordered w-9/12 mb-3"
  />

  <label class="w-9/12 font-bold mb-3 text-xl">Username</label>
  <input
    type="text"
    placeholder="Username"
    class="input input-bordered w-9/12 mb-3"
  />

  <label class="w-9/12 font-bold mb-3 text-xl">Email</label>
  <input
    type="email"
    placeholder="test@test.test"
    class="input input-bordered w-9/12 mb-3"
  />

  <label class="w-9/12 font-bold mb-3 text-xl">Phone Number</label>
  <input
    type="text"
    placeholder="+9647708880099"
    class="input input-bordered w-9/12 mb-3"
  />
  <label class="w-9/12 font-bold mb-3 text-xl">Role</label>
  <input
    type="text"
    placeholder="Root Admin"
    class="input input-bordered w-9/12 mb-3"
  />

  <div class="flex justify-center mt-3 mb-6">
    <button class="btn mr-3">Cancel</button>
    <button class="btn btn-outline btn-primary">Save Changes</button>
  </div>
</form>
