<form class="w-full flex flex-col items-center mt-5">
  <label class="w-9/12 font-bold mb-3 text-xl">Website</label>
  <input
    type="text"
    placeholder="baby-care.com"
    class="input input-bordered w-9/12 mb-3"
  />

  <label class="w-9/12 font-bold mb-3 text-xl">Email</label>
  <input
    type="email"
    placeholder="test@test.test"
    class="input input-bordered w-9/12 mb-3"
  />

  <label class="w-9/12 font-bold mb-3 text-xl">Phone Number</label>
  <input
    type="text"
    placeholder="+9647708880099"
    class="input input-bordered w-9/12 mb-3"
  />
  <label class="w-9/12 font-bold mb-3 text-xl">Address</label>
  <input
    type="text"
    placeholder="Slemani, Hawary Taza"
    class="input input-bordered w-9/12 mb-3"
  />

  <span class="w-9/12 font-bold mb-3 text-xl">Description</span>

  <textarea
    class="textarea h-24 textarea-bordered w-9/12 mb-3"
    placeholder="Baby care is great!"
  ></textarea>

  <div class="flex justify-center mt-3 mb-6">
    <button class="btn mr-3">Cancel</button>
    <button class="btn btn-outline btn-primary">Save Changes</button>
  </div>
</form>
