<div class="w-full h-full">
  <div class="tabs tab-border-none">
    <a
      routerLink="/dashboard/settings"
      routerLinkActive="tab-active"
      class="new-tab tab tab-lg tab-lifted tab-border-none"
      [routerLinkActiveOptions]="{ exact: true }"
      >User Details</a
    >
    <a
      routerLink="app-management"
      routerLinkActive="tab-active"
      class="tab new-tab tab-lg tab-lifted"
      [routerLinkActiveOptions]="{ exact: true }"
      >App Management</a
    >
    <a></a>
  </div>
  <div class="bg-white p-12 settings-container">
    <router-outlet></router-outlet>
  </div>
</div>
