<div class="w-full h-full pr-12">
  <div class="bg-white p-12 rounded-3xl">
    <div class="tabs">
      <a
        routerLink="/dashboard/settings"
        routerLinkActive="tab-active"
        class="tab tab-bordered"
        [routerLinkActiveOptions]="{ exact: true }"
        >User Details</a
      >
      <a
        routerLink="app-management"
        routerLinkActive="tab-active"
        class="tab tab-bordered"
        >App Management</a
      >
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
