

@media (max-width: 768px) {
  
  ::ng-deep {
    #trans  {
      animation: fadeIn 0.5s;
  
    }
    @keyframes fadeIn {
      0% {height: 50%;width: 50%;opacity: 0%;}
      75% {height: 75%;width: 75%;opacity: 100%;}
    }
  
    @keyframes fadeOut {
      from{ height: 75%;width: 75%;opacity: 100%;}
      to {height: 50%;width: 50%;opacity: 0%;}
    }
  
   
   
  }
}