<div
  class=" md:h-3/4 h-full xl:h-full w-full fixed top-0 left-0 md:static flex items-center justify-center backdrop-blur-sm"
  (click)="cancleUser()">

  <div *ngIf="user"
    class=" rounded-3xl bg-white h-3/4 md:h-full md:w-full w-3/4 flex flex-col  gap-5 overflow-y-scroll shadow-xl"
    (click)="$event.stopPropagation();" id="trans">
    <div class=" h-full w-full " *ngIf=" confirmModal" (click)="confirmUpdate(false)">

      <app-confirm-modal (result)="confirmUpdate($event)"></app-confirm-modal>
    </div>


    <div class="w-full flex justify-center ">

      <div class="w-10/12 flex justify-between mt-14 ">
        <div class="avatar flex justify-start ">
          <div class="w-28 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=92310">
          </div>
        </div>
        <div>
          <button class=" material-icons text-[40px]" (click)="cancleUser()">
            close
          </button>
          <button class="material-icons text-[40px] ml-5" (click)="changeEditMode(true)">
            mode_edit
          </button>

        </div>

      </div>
    </div>
    <div class="w-full flex justify-center">


      <form class="w-9/12 grid md:grid-cols-2 xl:grid-cols-1 items-center  mt-5 " (ngSubmit)="onSubmitEdit()"
        [formGroup]="userForm">
        <div class="md:mr-5 xl:mr-0">

          <label class="w-full font-bold mb-3 text-xl ">Name</label>
          <input type="text" placeholder={{user.name}} class="input input-bordered w-full mb-3" formControlName="name"
            *ngIf="editMode" />

          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>

          <div class="w-full mb-3" *ngIf="userForm.get('name')?.invalid && submited">
            <app-error warn="name should between 3-64 character"></app-error>

          </div>


          <label class=" w-full font-bold mb-3 text-xl">Username</label>
          <input type="text" placeholder={{user.name}} class="input input-bordered w-full mb-3"
            formControlName="userName" *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>

          <div class="w-full mb-3" *ngIf="userForm.get('userName')?.invalid && submited">
            <app-error warn="Username should between 3-20 character"></app-error>

          </div>
          <label class=" w-full font-bold mb-3 text-xl">password</label>
          <input type="text" placeholder="password" class="input input-bordered w-full mb-3" formControlName="password"
            *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>

          <div class="w-full mb-3" *ngIf="userForm.get('password')?.invalid && submited">
            <app-error warn="password should between 3-64 character"></app-error>

          </div>
          <label class="w-full font-bold mb-3 text-xl ">Birthday</label>
          <input type="text" placeholder="12/sep/2000" class="input input-bordered w-full mb-3"
            formControlName="birthDay" *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>



          <label class="w-full font-bold mb-3 text-xl">Phone Number</label>
          <input type="text" placeholder="+9647708880099" class="input input-bordered w-full mb-3"
            formControlName="phoneNumber" *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>


          <label class="w-full font-bold mb-3 text-xl ">State</label>
          <input type="text" placeholder="Pregnant" class="input input-bordered w-full mb-3" formControlName="state"
            *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>


          <label class="w-full font-bold mb-3 text-xl">Location</label>
          <input type="text" placeholder="Sulaimanyah" class="input input-bordered w-full mb-3"
            formControlName="location" *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>




        </div>

        <div>
          <label class="w-full font-bold mb-3 text-xl ">Disease(s)</label>
          <input type="text" placeholder="None" class="input input-bordered w-full mb-3" formControlName="diseases"
            *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>
          <label class="w-full font-bold mb-3 text-xl">Verified</label>
          <input type="text" placeholder="No" class="input input-bordered w-full mb-3" formControlName="verified"
            *ngIf="editMode">
          <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>

          <div class="flex flex-col w-full  items-center " formGroupName="babyInfo">

            <label class="w-full font-bold mb-3 text-xl ">Baby Info</label>
            <label class="w-full  mb-3 text-xl text-slate-400">Due Date:</label>
            <input type="text" placeholder="16/sep/2022" class="input input-bordered w-full mb-3 "
              formControlName="dueDate" *ngIf="editMode">
            <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>


            <label class="w-full  mb-3 text-xl text-slate-400">Gender</label>
            <input type="text" placeholder="Male" class="input input-bordered w-full mb-3" formControlName="gender"
              *ngIf="editMode">
            <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>


            <label class="w-full mb-3 text-xl text-slate-400">Disease(s)</label>
            <input type="text" placeholder="None" class="input input-bordered w-full mb-3" formControlName="diseases"
              *ngIf="editMode">
            <h1 *ngIf="!editMode" class="w-full text-lg mb-4">{{user.name}}</h1>


          </div>
          <div class="flex justify-center mt-3 mb-6" *ngIf="editMode">
            <button class="btn mr-3 btn-outline" type="button" (click)="changeEditMode(false)">Cancel</button>
            <button class="btn btn-outline btn-primary" type="submit">Save Changes</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>