::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  padding-right: 30px;
  background:#3701ac;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  padding-right: 30px;
  background:#5c2ec0;
  border-radius: 5px;
}
