<div class="flex gap-3 md:gap-8">
  <div class="dropdown md:hidden">
    <button tabindex="0" class="btn btn-ghost h-[67px] w-[72px] md:hidden">
      <span class="material-icons"> menu </span>
    </button>
    <ul
      tabindex="0"
      class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52"
    >
      <li routerLink="/dashboard">
        <a
          class="strong"
          routerLinkActive=" bg-primary text-primary-content"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="material-icons"> home </span>
          <div>Home</div>
        </a>
      </li>
      <li>
        <a class="strong">
          <span class="material-icons"> notifications </span>
          <div>Inbox</div>
        </a>
      </li>
      <li>
        <a class="strong">
          <span class="material-icons"> import_contacts </span>
          <div>Advice</div>
        </a>
      </li>
      <li>
        <a class="strong">
          <span class="material-icons"> poll </span>
          <div>Survey</div>
        </a>
      </li>
      <li>
        <a class="strong" routerLinkActive=" bg-primary text-primary-content">
          <span class="material-icons"> image </span>
          <div>Ads</div>
        </a>
      </li>
      <div class="divider"></div>
      <li routerLink="/dashboard/users">
        <a class="strong" routerLinkActive=" bg-primary text-primary-content">
          <span class="material-icons"> people </span>
          <div>Users</div>
        </a>
      </li>
      <li>
        <a class="strong" routerLinkActive=" bg-primary text-primary-content">
          <span class="material-icons"> groups </span>
          <div>Admins</div>
        </a>
      </li>
      <div class="divider"></div>
      <li routerLink="/dashboard/settings">
        <a class="strong" routerLinkActive=" bg-primary text-primary-content">
          <span class="material-icons"> settings </span>
          <div>Settings</div>
        </a>
      </li>
      <li (click)="onLogout()" class="text-error-content">
        <a class="strong bg-error">
          <span class="material-icons"> logout </span>
          <div>Logout</div>
        </a>
      </li>
    </ul>
  </div>

  <button
    (click)="onClick($event)"
    class="btn btn-primary h-[67px] w-[72px] hidden md:block"
  >
    <span class="material-icons"> menu </span>
  </button>
  <div
    class="navbar w-full lg:bg-neutral-content text-neutral lg:shadow-xl rounded-xl px-4"
  >
    <div class="flex-1">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <div class="indicator">
            <span class="material-icons"> notifications </span>
            <span class="badge badge-sm indicator-item">8</span>
          </div>
        </label>
        <div
          tabindex="0"
          class="mt-3 card card-compact w-[330px] dropdown-content bg-base-100 shadow text-neutral"
        >
          <ul
            class="menu bg-base-100 menu-compact lg:menu-normal w-full p-2 rounded-box"
          >
            <li>
              <a>
                <div class="flex">
                  <span class="material-icons text-xs text-primary py-1">
                    circle
                  </span>
                  <div class="px-2">
                    Notifications1

                    <p class="text-base-300">July 22, 2020 12:08PM</p>
                  </div>
                </div></a
              >
            </li>
            <li>
              <a>
                <div class="flex">
                  <span class="material-icons text-xs text-primary py-1">
                    circle
                  </span>
                  <div class="px-2">
                    Notifications2

                    <p class="text-base-300">July 22, 2020 12:08PM</p>
                  </div>
                </div></a
              >
            </li>
            <li>
              <a>
                <div class="flex">
                  <span class="material-icons text-xs text-base-300 py-1">
                    circle
                  </span>
                  <div class="px-2">
                    Notifications3

                    <p class="text-base-300">July 22, 2020 12:08PM</p>
                  </div>
                </div></a
              >
            </li>
            <div class="divider"></div>
            <a class="link text-primary px-5 pb-3">View all notifications</a>
          </ul>
        </div>
      </div>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=33791" />
          </div>
        </label>
        <div
          tabindex="0"
          class="mt-3 px-4 py-6 shadow menu menu-compact text-neutral dropdown-content bg-base-100 rounded-box w-[400px] flex flex-col items-center justify-center gap-3"
        >
          <div class="avatar">
            <div class="w-16 rounded-full">
              <img src="https://api.lorem.space/image/face?hash=92310" />
            </div>
          </div>
          <h2 class="strong text-lg">Sheradin</h2>
          <div class="text-center">
            <p>Hola Seniorita</p>
            <p>Admin Root</p>
          </div>
          <button class="btn btn-outline btn-primary w-full">
            View Full Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
